div#sidenavbar {
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 15%;
    max-width: 20%;
    background-color: black;
    margin: 0px 15px 0px 0px;
}
div#sidenavbar > h1 {
    text-align: center;
    color: white;
}
