div#sidenavbar {
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 150px;
    max-width: 250px;
    background-color: rgb(54, 52, 52);
    margin: 0px 15px 0px 0px;
    position: fixed;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
}
div#sidenavbar > h1 {
    text-align: center;
    color: white;
}
div#codestuff {
    left: 150px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    display: block;
}
div#codestuff > h1 {
    text-align: center;
    color: white;
}
body#test {
    background-color: rgb(30, 30, 30)
}