div#sidenavbar {
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 150px;
    max-width: 250px;
    background-color: rgb(54, 52, 52);
    margin: 0px 15px 0px 0px;
    display:inline-block;
    position: fixed;
}
div#sidenavbar > h1 {
    text-align: center;
    color: white;
}
div#codestuff {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    background-color: black;
}
div#codestuff > h1 {
    text-align: center;
    color: white;
}