div#placeholder > h1 {
    text-align: center;
}
div#page > h1 {
    text-align: center;
}
div#page {
    margin: 5px auto 0px auto;
    background: linear-gradient(90deg, rgb(17, 25, 25), rgb(25, 85, 87));
    max-width: 70%;
    min-height: 20%;
    color: white;
    padding: 10px 5px 10px 3px;
    border-radius: 10px;
}
div#placeholder {
    margin: 5px auto 0px auto;
    max-width: 70%;
    min-width: 20%;
    border-radius: 10px;
}
a[role="button"] {
    border: black solid 1px;
    border-radius: 10px;
    padding: 3px;
}