@import "./global.css";

#lang-select {
    margin: 3px 5px 3px 5px;
    border: 1px rgb(25, 84, 78) solid;
    border-radius: 25px;
    background: linear-gradient(90deg, rgb(2, 67, 90), rgb(6, 24, 24));
    color: white;
}
body {
    background: --bk-bg-gradient;
}
figure > img {
    border-radius: 100px;
    display: block;
    margin: 2px auto 5px auto;
    min-width: 50px;
    max-width: 200px;
}


select#lang-select option {
    background-color: darkcyan;
    color: white;
}
select#lang-select option:hover {
    background-color: darkblue;
    color: silver;
}