div[id$="-dev"] {
    border: 1px black dashed;
    border-radius: 15px;
    margin: auto auto 20px auto;
    padding: 5px 4px 7px 4px;
    width: 500px;
    display: inline-block;
}
div#discord-dev {
    background: linear-gradient(90deg, rgb(25, 82, 161), rgb(14, 17, 17));
}
div#fluxer-dev {
    background: linear-gradient(90deg, rgb(190, 199, 64), rgb(14, 17, 17));
}
div[id$="-dev"] > h1, div[id$="-dev"] > p {
    color: white;
}
div[id$="-dev"] > h1 {
    text-align: center;
}
div[id$="-dev"] > p {
    text-align: justify;
}