:root {
    --green: green;
    /* */
}

span.cost {
    text-decoration: underline rgb(22, 197, 22);
}
img.discord {
    display: inline-block;
    margin: 5px auto 3px auto;
    height: 50px;
}
div#footer_content {
    max-width: 300px;
    min-width: 0px;
    margin: 0px auto 0px auto;
}
div#footer > p {
    text-align: center;
}
div#page {
    padding: 3px 4px 4px 5px;
}